@using Resources;

@model Core.Dtos.StatusDto

@{
    ViewBag.Title = @Resources.Statuses;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Resources.Details</h2>

<div>
    <div class="panel panel-info" style="margin-top:5%;">
        <div class="panel-heading"> <h2> @Resources.Details</h2></div>
        <div class="panel-body">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>
        </div>
    </div>
    <div class="panel-footer">
        <div>
            <p>
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |*@
                @Html.ActionLink(@Resources.Backto, "Index", new { }, new { @class = "btn btn-success" })
            </p>
        </div>
    </div>
</div>

